.navbar-nav > .nav-item {
  margin-left: 15px;
}

section {
  padding: 25px;
  min-height: 800px;
  background-color: white;
}

section:nth-child(odd) {
  background-color: #e9ebee;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.col-sm > .card {
  margin-bottom: 15px;
}

img {
  width: 350px;
  height: 350px;
}

section > .typewrite {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: rgb(205, 69, 65);
}

p.card-text {
  min-height: 75px;
}

.red {
  color: #cd4541;
}

.card {
  margin-bottom: 25px;
  box-shadow: 0 10px 40px rgba(59,43,91,.3);
}


.btn-primary {
  border: 0px;
  color: white;
  background-color: rgb(205, 69, 65);
}

.btn-primary:hover {
  background-color: rgb(203, 83, 79);
}


#third {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/banner.jpg)
}

#third > h1 > i {
  margin-right: 10px;
}



#fourth > .container > p:nth-last-of-type(1)  {
  font-size: 25px;
  margin-bottom: 100px;
}

footer {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > a {
  margin-left: 5px;
}